@model Client.DTOs.QuotesDTOs.QuoteDTO 

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Quote of The Day</h1>
    <p > @Model.Text  
        </p>
</div>
