@model Client.Models.AuthersVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>QuoteDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <select class="input-lg" name="AutherId" id="AutherId">
    <option value="" style="color:#ccc !important;">
         select Auther
    </option>
    @foreach (var item in Model.Authers)
    {
        <option value="@item.Id">
            @item.Name
        </option>
    }
        </select>


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
